<div class="col-10 col-sm-8 mx-auto card">
  <h4 class="card-header">New Gram</h4>
<div class="card-body">
  <%= simple_form_for @gram do |f| %>
  <%= f.input :message %>
  <%= f.input :picture %>
  <%= f.submit "Post!", class: 'my-btn' %>
  <% end %>
  </div>

</div>
